@font-face {
  font-family: OpenSans-bold;
  src: url("../../../fonts/Open_Sans/OpenSans-Bold.ttf") format("trueType");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: OpenSans-reg;
  src: url("../../../fonts/Open_Sans/OpenSans-Regular.ttf") format("trueType");
  font-weight: 400;
  font-style: normal;
}
.button {
  background-color: #10b1b3;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
  border: none;
  width: 30%;
  height: 60px;
  display: block;
  cursor: pointer;
}
.button:hover {
  background-color: #2d3f54;
}
#home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px auto;
  color: #2d3f54;
  font-family: "OpenSans-reg";
}
@media (max-width: 768px) {
  #home {
    flex-direction: column;
  }
}
#home .home-left p {
  padding-bottom: 20px;
}
#home .home-left p:nth-child(1) {
  text-transform: uppercase;
  font-weight: bold;
}
#home .home-left p:nth-child(5) {
  font-weight: bold;
}
@media (max-width: 768px) {
  #home .home-left p {
    font-size: 2vw;
  }
}
@media (max-width: 468px) {
  #home .home-left p {
    font-size: 4vw;
  }
}
#home .home-left h2 {
  font-family: "OpenSans-bold";
  font-size: 60px;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  #home .home-left h2 {
    font-size: 6vw;
  }
}
#home .home-left button {
  background-color: #10b1b3;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
  border: none;
  width: 30%;
  height: 60px;
  display: block;
  cursor: pointer;
}
#home .home-left button:hover {
  background-color: #2d3f54;
}
@media (max-width: 768px) {
  #home .home-left button {
    margin: auto;
    margin-bottom: 20px;
    width: 40%;
    font-size: 3vw;
  }
}
@media (max-width: 768px) {
  #home .home-right img {
    width: calc(100% / 3);
  }
}
